@use '../../styles/settings.scss' as s;
@use 'sass:color';

.button {
  background: s.$color-success;
  border: 0;
  color: s.$color-light;
  text-align: center;
  line-height: 1.3;
  padding: s.$base-size;
  margin: 0 s.$base-size s.$base-size s.$base-size;
  border-radius: s.$radius;
  cursor: pointer;
  font-weight: 700;
  text-transform: uppercase;
  transition: s.$transition;

  &:hover {
    background: color.adjust(s.$color-success, $lightness: -5%);
  }

  &.danger {
    background: s.$color-warning;

    &:hover {
      background: color.adjust(s.$color-warning, $lightness: -5%);
    }
  }

  &.transparent {
    background: transparent;

    &:hover {
      color: color.adjust(s.$color-light, $lightness: -20%);
    }
  }
}
