@use '../../styles/settings.scss' as s;

.hero {
  padding: s.$base-size;
}

.subtitle {
  padding: (s.$base-size * 2) 0;
  text-align: center;
  font-size: (s.$base-size * 2);
  font-style: italic;
  font-weight: normal;
}

.subtitle {
  margin-top: (-(s.$base-size) * 3);
}
