@use '../../styles/settings.scss' as s;

.hero {
  padding: s.$base-size;
}

.title {
  padding: (s.$base-size * 3) 0;
  text-align: center;
  font-size: (s.$base-size * 3);
  text-transform: uppercase;
}
