@use '../../styles/settings.scss' as s;
@use 'sass:color';

.card {
  position: relative;
  background: s.$color-light;
  border: 1px solid color.adjust(s.$color-dark, $lightness: 60%);
  padding: s.$base-size;
  margin: 0 0 s.$base-size 0;
  border-radius: s.$radius;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}
