@use '../../styles/settings.scss' as s;
@use 'sass:color';

.card {
  position: relative;
  background: s.$color-light;
  border: 1px solid color.adjust(s.$color-dark, $lightness: 60%);
  padding: s.$base-size;
  margin: 0 0 s.$base-size 0;
  border-radius: s.$radius;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  align-items: center;
}

.buttons {
  display: flex;
  gap: 12px;
}

.button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: color.adjust(s.$color-dark, $lightness: 60%);
  transition: color ease-in-out 0.15s;
}

.button:hover {
  color: s.$color-dark;
}

.button:focus-visible {
  outline: 2px solid s.$color-dark;
  outline-offset: 2px;
}

.favorite {
  color: s.$color-warning;
}
