@use '../../styles/settings.scss' as s;

.searchForm {
  display: flex;
  justify-content: flex-start;
}

.input {
  min-width: 200px;
  background: s.$color-light;
  border: 1px solid lighten(s.$color-dark, 60%);
  padding: s.$base-size (s.$base-size * 1.5);
  margin: 0 0 s.$base-size 0;
  font-family: s.$font-text;
  border-radius: s.$radius;
}

.button {
  background: s.$color-success;
  border: 0;
  color: s.$color-light;
  text-align: center;
  line-height: 1.3;
  padding: s.$base-size;
  margin: 0 s.$base-size s.$base-size s.$base-size;
  border-radius: s.$radius;
  cursor: pointer;
  font-weight: 700;
  text-transform: uppercase;
  transition: s.$transition;

  &:hover {
    background: darken(s.$color-success, 5%);
  }

  &.danger {
    background: s.$color-warning;

    &:hover {
      background: darken(s.$color-warning, 5%);
    }
  }

  &.transparent {
    background: transparent;

    &:hover {
      color: darken(s.$color-light, 20%);
    }
  }
}
